## Feature Engineering:
Definition: is a process of extracting useful features from raw data suing math, statistics and domain knowledge.
Outlier detection, one hot encoding, handling missing values are few basic examples of feature engineering.

- Domain Knowledge
- Visualization
- Math/Statistics:outlier

### Outlier Detection and removal using percentile

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_height = pd.read_csv(r"C:\Users\Connie Wu\Desktop\rhoda\Python\Python Project\Feature Engineering\heights.csv")

In [3]:
df_height.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [4]:
max_threshold = df_height['height'].quantile(0.95)
max_threshold

9.689999999999998

In [5]:
df_height[df_height['height']>max_threshold]

    name  height
9  imran    14.5

In [6]:
min_thresold = df_height['height'].quantile(0.05)
min_thresold

3.6050000000000004

In [8]:
df_height[df_height['height'] < min_thresold]

      name  height
12  yoseph     1.2