In [1]:
#import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [4]:
# Suppress warnings for clean notebook
import warnings
warnings.filterwarnings('ignore')

In [6]:
# read dataset
dataset = pd.read_csv('Melbourne_housing_FULL.csv')
dataset.head()

,suburb,rooms,type,price,method,seller_g,date,distance,postcode,bedroom2,...,car,landsize,building_area,year_built,council_area,latitude,longitude,region_name,property_count,yr_qtr
0,Abbotsford,2,h,NaN,SS,Jellis,2016-09-03,2.5,3067.0,2.0,...,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,2016.3
1,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067.0,2.0,...,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0,2016.4
2,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067.0,2.0,...,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0,2016.1
3,Abbotsford,3,u,NaN,VB,Rounds,2016-02-04,2.5,3067.0,3.0,...,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0,2016.1
4,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067.0,3.0,...,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0,2017.1

In [7]:
dataset.nunique()

suburb              351
rooms                12
type                  3
price              2871
method                9
seller_g            388
date                 78
distance            215
postcode            211
bedroom2             15
bathroom             11
car                  15
landsize           1684
building_area       740
year_built          160
council_area         33
latitude          13402
longitude         14524
region_name           8
property_count      342
yr_qtr                9
dtype: int64

In [9]:
dataset.shape

(34857, 21)

In [10]:
dataset.columns

Index(['suburb', 'rooms', 'type', 'price', 'method', 'seller_g', 'date',
       'distance', 'postcode', 'bedroom2', 'bathroom', 'car', 'landsize',
       'building_area', 'year_built', 'council_area', 'latitude', 'longitude',
       'region_name', 'property_count', 'yr_qtr'],
      dtype='object')

In [ ]:
# decide the useful columns
cols_to_use = ['suburb', 'rooms', 'type', 'price','method', 'seller_g', 
       'distance', 'bedroom2', 'bathroom', 'car', 'landsize',
       'building_area', 'council_area', 'region_name', 'property_count', 'yr_qtr']