Task
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  to , print Not Weird
If  is even and in the inclusive range of  to , print Weird
If  is even and greater than , print Not Weird
Input Format

A single line containing a positive integer,

In [1]:
if __name__ == '__main__':
    n = int(input().strip())

def func(n):
    if n%2 != 0:
        print('Weird')
    elif n%2 == 0 and n in range(2,6):
        print('Not Weird')
    elif n%2 == 0 and n in range(6,21):
        print('Weird')
    else:
        print('Not Weird')

func(n)

20
Weird

In [ ]:
n = int(input().strip())
check = {True: "Not Weird", False: "Weird"}

print(check[
        n%2==0 and (
            n in range(2,6) or 
            n > 20)
    ])

In [3]:
n = int(input().strip())
check = {True:"Not Weird", False:'Weird'}

print(check[n%2 ==0 and (n in range(2,6) or n >20)])

29
Weird

In [9]:
n = int(input().strip())

if n % 2 == 0 and (n in range(2,6) or n>20):
    print('Not Weird')
else:
    print('Weird')

30
Not Weird

In [10]:
if __name__ == '__main__':
    n = int(input())
    
    print(*[num**2 for num in range(n)], sep='\n')

4
0
1
4
9

In [ ]:
[print(i**2) for i in range(n)]

In [11]:
if __name__ == '__main__':
    n = int(input())
    
    [print(i**2) for i in range(n)]

5
0
1
4
9
16

The included code stub will read an integer, , from STDIN.

Without using any string methods, try to print the following:


Note that "" represents the consecutive values in between.

Example

Print the string .

Input Format

The first line contains an integer .

Constraints


Output Format

Print the list of integers from  through  as a string, without spaces.

In [ ]:
if __name__ == '__main__':
    n = int(input())
    print(*range(1,n+1),sep='')

Task
The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed only to French, and some have subscribed to both newspapers.

You are given two sets of student roll numbers. One set has subscribed to the English newspaper, one set has subscribed to the French newspaper. Your task is to find the total number of students who have subscribed to both newspapers.

Input Format

The first line contains , the number of students who have subscribed to the English newspaper.
The second line contains  space separated roll numbers of those students.
The third line contains , the number of students who have subscribed to the French newspaper.
The fourth line contains  space separated roll numbers of those students.

Constraints


Output Format

Output the total number of students who have subscriptions to both English and French newspapers.

Sample Input

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
Sample Output

5
Explanation

The roll numbers of students who have both subscriptions:
 and .
Hence, the total is  students.

Language
Python 3

More
12345

In [ ]:
_, a = input(), set(input().split())
_, b = input(), set(input().split())

print(len(a.intersection(b)))

Let's learn about list comprehensions! You are given three integers  and  representing the dimensions of a cuboid along with an integer . Print a list of all possible coordinates given by  on a 3D grid where the sum of  is not equal to . Here, . Please use list comprehensions rather than multiple loops, as a learning exercise.

Example




All permutations of  are:
.

Print an array of the elements that do not sum to .


Input Format

Four integers  and , each on a separate line.

Constraints

Print the list in lexicographic increasing order.

In [2]:
x, y, z, n = int(input()), int(input()), int(input()), int(input())
print ([[a,b,c] for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1) if a + b + c != n ])

1
2
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 2, 0], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2], [1, 2, 1], [1, 2, 2]]

# SQL

Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the absolute difference in salaries.

select abs(max(salary) filter (where department = 'marketing') - max(salary) filter (where department = 'engineering')) 
from db_employee
join db_dept d on department_id = d.id

WITH max_table AS(
SELECT department, max(salary) as max_salary FROM db_employee
JOIN db_dept
ON db_employee.department_id = db_dept.id
GROUP BY department
HAVING department = 'engineering' OR department = 'marketing')

SELECT ABS((SELECT max_salary FROM max_table WHERE department = 'engineering') -(SELECT max_salary FROM max_table WHERE department = 'marketing')) AS salary_difference;

What is the overall friend acceptance rate by date? Your output should have the rate of acceptances by the date the request was sent. Order by the earliest date to latest.

Assume that each friend request starts by a user sending (i.e., user_id_sender) a friend request to another user (i.e., user_id_receiver) that's logged in the table with action = 'sent'. If the request is accepted, the table logs action = 'accepted'. If the request is not accepted, no record of action = 'accepted' is logged.

In [ ]:
WITH accepted AS (
    select s.date, count(*) accept_count
    from fb_friend_requests s INNER JOIN fb_friend_requests a 
    ON s.user_id_sender = a.user_id_sender AND s.user_id_receiver = a.user_id_receiver
    AND s.action = 'sent' AND a.action = 'accepted'
    GROUP BY 1
), 

sent AS (
    SELECT date, count(*) sent_count
    FROM fb_friend_requests
    WHERE action = 'sent'
    GROUP BY date
)

SELECT s.date , a.accept_count:: float / s.sent_count as rate
FROM sent s INNER JOIN accepted a ON s.date = a.date

In [ ]:
with open('Capital.txt','r') as readFile:
    for line in readFile:
        if line.startswith('Answer') is True:
            with opene('Answer.txt','a') as appendFile:
                appendFile.write(line)

# Python

Classify Business Type
Classify each business as either a restaurant, cafe, school, or other. A restaurant should have the word 'restaurant' in the business name. For cafes, either 'cafe', 'café', or 'coffee' can be in the business name. 'School' should be in the business name for schools. All other businesses should be classified as 'other'. Output the business name and the calculated classification.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
sf_restaurant_health_violations.head()
business_type = []
for name in sf_restaurant_health_violations['business_name']:
    if 'restaurant' in [word.lower() for word in name.split()] or 'restaurante' in [word.lower() for word in name.split()]:
        business_type.append( 'restaurant')
    elif 'cafe' in [word.lower() for word in name.split()] or 'café'in  [word.lower() for word in name.split()] or 'coffee' in [word.lower() for word in name.split()]:
        business_type.append('cafe') 
    elif 'school' in [word.lower() for word in name.split()] or 'schools' in [word.lower() for word in name.split()]	:
        business_type.append('school') 
    else: 
        business_type.append('other')

sf_restaurant_health_violations['business_type'] = business_type
sf_restaurant_health_violations.columns
sf_restaurant_health_violations[['business_name','business_type']]

In [ ]:
sf_restaurant_health_violations.head()
business_type = []
for name in sf_restaurant_health_violations['business_name']:
    if 'restaurant' in name:
        business_type.append( 'restaurant')
    elif 'cafe' in name or 'café' in name or 'coffee' in name:
        business_type.append('cafe') 
    elif 'school' in name or 'schools' in name:
        business_type.append('school') 
    else: 
        business_type.append('other')


sf_restaurant_health_violations['business_type'] = business_type
sf_restaurant_health_violations.columns
sf_restaurant_health_violations[['business_name','business_type']]

In [ ]:
sf_restaurant_health_violations.head()

business_type = []
for name in sf_restaurant_health_violations['business_name']:
    if 'restaurant' in name.lower():
        business_type.append( 'restaurant')
    elif 'cafe' in name.lower() or 'café' in name or 'coffee' in name.lower():
        business_type.append('cafe') 
    elif 'school' in name.lower() or 'schools' in name.lower():
        business_type.append('school') 
    else: 
        business_type.append('other')

business_type

# SQL

Finding User Purchases
Write a query that'll identify returning active users. A returning active user is a user that has made a second purc hase within 7 days of any other of their purchases. Output a list of user_ids of these returning active users.
Table: amazon_transactions
amazon_transactions
idint
user_idint
itemvarchar
created_atdatetime
revenueint

In [ ]:
SELECT DISTINCT(a1.user_id)
FROM amazon_transactions a1
JOIN amazon_transactions a2 ON a1.user_id=a2.user_id
AND a1.id <> a2.id
AND (a2.created_at- a1.created_at between 0 and 7)
ORDER BY a1.user_id

In [ ]:
SELECT DISTINCT(a1.user_id)
FROM amazon_transactions a1
JOIN amazon_transactions a2 ON a1.user_id=a2.user_id
AND a1.id <> a2.id
AND a2.created_at::date-a1.created_at::date BETWEEN 0 AND 7
ORDER BY a1.user_id

select distinct a.user_id from amazon_transactions a join amazon_transactions b 
on a.user_id = b.user_id WHERE a.id != b.id AND a.created_at <= b.created_at 
AND DATEDIFF(b.created_at, a.created_at) <=7

In [ ]:
with time_between_purchases as (
select user_id, created_at - lag(created_at) over (Partition by user_id order by created_at ASC) as time_from_last_purchase
from amazon_transactions 
order by user_id, created_at ASC
)
select distinct user_id 
from time_between_purchases
where time_from_last_purchase <= 7

In [ ]:
with shifted_tabel as (
    select user_id,
        created_at as today,
        lag(created_at,1) over (
            partition by user_id
            order by created_at
        ) as day_before
    from amazon_transactions
)
select user_id, diff from (
    select user_id, min(today-day_before) as diff from shifted_tabel
    group by user_id
) as diffs
where diff <= 7

Customer Revenue In March
Calculate the total revenue from each customer in March 2019. Include only customers who were active in March 2019. 

Output the revenue along with the customer id and sort the results based on the revenue in descending order.

In [ ]:
SELECT cust_id,
       SUM(total_order_cost) AS revenue
FROM orders
WHERE EXTRACT('MONTH'
              FROM order_date :: TIMESTAMP) = 3
      AND
      EXTRACT('YEAR'
              FROM order_date :: TIMESTAMP) = 2019
GROUP BY cust_id
ORDER BY revenue DESC

Highest Cost Orders
Find the customer with the highest daily total order cost between 2019-02-01 to 2019-05-01. If customer had more than one order on a certain day, sum the order costs on daily basis. Output their first name, total cost of their items, and the date.
 
 For simplicity, you can assume that every first name in the dataset is unique.

In [ ]:
select first_name, temp.total_order_cost, order_date
from customers join 
(select order_date, cust_id, sum(total_order_cost)
from orders
where order_date between '2019-02-01' and '2019-05-01'
group by order_date,cust_id
order by sum(total_order_cost) desc
limit 1) temp
on customers.id = temp.cust_id